<div class="container page-transition">
  <div *ngIf="loading" class="loading-container">
    <p-progressSpinner strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
    <p>Loading country information...</p>
  </div>

  <div *ngIf="!loading && errorMessage" class="error-container">
    <i class="pi pi-exclamation-triangle" style="font-size: 3rem; color: var(--danger-color); margin-bottom: 1rem;"></i>
    <h2>{{ errorMessage }}</h2>
    <p>We couldn't find the information you're looking for</p>
    <button pButton type="button" label="Back to Countries" icon="pi pi-arrow-left" class="p-button-rounded" (click)="goBack()"></button>
  </div>

  <div *ngIf="!loading && !errorMessage && country" class="country-details">
    <div class="back-button">
      <button pButton type="button" label="Back to List" icon="pi pi-arrow-left" class="p-button-text" (click)="goBack()"></button>
    </div>

    <div class="country-header">
      <div class="flag-container">
        <img [src]="country.flags.png" [alt]="country.flags.alt || country.name.common + ' flag'" class="country-flag" />
      </div>
      <div class="country-titles">
        <h1>{{ country.name.common }}</h1>
        <h2 *ngIf="country.name.official && country.name.official !== country.name.common">{{ country.name.official }}</h2>
        <div class="country-badges">
          <span class="country-badge region-badge">{{ country.region }}</span>
          <span class="country-badge" *ngIf="country.subregion">{{ country.subregion }}</span>
          <span class="country-badge" *ngIf="country.unMember">UN Member</span>
        </div>
      </div>
    </div>

    <div class="info-tabs">
      <p-tabView>
        <p-tabPanel header="General Information">
          <div class="grid">
            <div class="col-12 md:col-6">
              <p-card>
                <ng-template pTemplate="header">
                  <div class="card-header">
                    <i class="pi pi-globe"></i>
                    <span>Basic Information</span>
                  </div>
                </ng-template>
                <div class="info-rows">
                  <div class="info-row">
                    <span class="info-label">Capital</span>
                    <span class="info-value">{{ country.capital ? country.capital[0] : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Population</span>
                    <span class="info-value">{{ country.population | number }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Area</span>
                    <span class="info-value">{{ country.area | number }} km²</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Independent</span>
                    <span class="info-value">{{ country.independent ? 'Yes' : 'No' }}</span>
                  </div>
                </div>
              </p-card>
            </div>

            <div class="col-12 md:col-6">
              <p-card>
                <ng-template pTemplate="header">
                  <div class="card-header">
                    <i class="pi pi-comments"></i>
                    <span>Languages & Currency</span>
                  </div>
                </ng-template>
                <div class="info-rows">
                  <div class="info-row">
                    <span class="info-label">Languages</span>
                    <span class="info-value">{{ getLanguages(country.languages) }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Currencies</span>
                    <span class="info-value">{{ getCurrencies(country.currencies) }}</span>
                  </div>
                  <div class="info-row" *ngIf="country.gini">
                    <span class="info-label">Gini Index</span>
                    <span class="info-value">
                      <span *ngFor="let gini of country.gini | keyvalue">
                        {{ gini.value }}% ({{ gini.key }})
                      </span>
                    </span>
                  </div>
                </div>
              </p-card>
            </div>

            <div class="col-12">
              <p-card>
                <ng-template pTemplate="header">
                  <div class="card-header">
                    <i class="pi pi-map"></i>
                    <span>Geography & Location</span>
                  </div>
                </ng-template>
                <div class="grid">
                  <div class="col-12 md:col-6">
                    <div class="info-rows">
                      <div class="info-row">
                        <span class="info-label">Continent</span>
                        <span class="info-value">{{ country.continents ? country.continents.join(', ') : 'N/A' }}</span>
                      </div>
                      <div class="info-row">
                        <span class="info-label">Borders</span>
                        <span class="info-value">{{ country.borders ? country.borders.join(', ') : 'None' }}</span>
                      </div>
                      <div class="info-row">
                        <span class="info-label">Timezones</span>
                        <span class="info-value">{{ country.timezones ? country.timezones.join(', ') : 'N/A' }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 md:col-6">
                    <div class="info-rows">
                      <div class="info-row">
                        <span class="info-label">Lat/Long</span>
                        <span class="info-value">{{ country.latlng ? country.latlng.join(', ') : 'N/A' }}</span>
                      </div>
                      <div class="info-row">
                        <span class="info-label">Driving Side</span>
                        <span class="info-value">{{ country.car?.side || 'N/A' }}</span>
                      </div>
                      <div class="info-row">
                        <span class="info-label">Start of Week</span>
                        <span class="info-value">{{ country.startOfWeek ? country.startOfWeek.charAt(0).toUpperCase() + country.startOfWeek.slice(1) : 'N/A' }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p-card>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="More Details">
          <div class="grid">
            <div class="col-12 md:col-6">
              <p-card>
                <ng-template pTemplate="header">
                  <div class="card-header">
                    <i class="pi pi-id-card"></i>
                    <span>Identity</span>
                  </div>
                </ng-template>
                <div class="info-rows">
                  <div class="info-row">
                    <span class="info-label">Top-Level Domain</span>
                    <span class="info-value">{{ country.tld ? country.tld.join(', ') : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">FIFA Code</span>
                    <span class="info-value">{{ country.fifa || 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">ISO Codes</span>
                    <span class="info-value">{{ country.cca2 }}, {{ country.cca3 }}</span>
                  </div>
                  <div class="info-row" *ngIf="country.idd?.root">
                    <span class="info-label">Calling Code</span>
                    <span class="info-value">{{ country.idd.root }}{{ country.idd.suffixes ? country.idd.suffixes[0] : '' }}</span>
                  </div>
                </div>
              </p-card>
            </div>

            <div class="col-12 md:col-6">
              <p-card>
                <ng-template pTemplate="header">
                  <div class="card-header">
                    <i class="pi pi-building"></i>
                    <span>Governance</span>
                  </div>
                </ng-template>
                <div class="info-rows">
                  <div class="info-row">
                    <span class="info-label">Status</span>
                    <span class="info-value">{{ country.status || 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Capital</span>
                    <span class="info-value">{{ country.capital ? country.capital.join(', ') : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Demonyms</span>
                    <span class="info-value" *ngIf="country.demonyms?.eng">{{ country.demonyms.eng.m }} (m), {{ country.demonyms.eng.f }} (f)</span>
                    <span class="info-value" *ngIf="!country.demonyms?.eng">N/A</span>
                  </div>
                </div>
              </p-card>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Maps" *ngIf="country.maps?.googleMaps || country.maps?.openStreetMaps">
          <div class="maps-container">
            <div class="map-buttons">
              <a [href]="country.maps.googleMaps" target="_blank" rel="noopener noreferrer" *ngIf="country.maps?.googleMaps">
                <button pButton type="button" label="View on Google Maps" icon="pi pi-map-marker" class="p-button-raised"></button>
              </a>
              <a [href]="country.maps.openStreetMaps" target="_blank" rel="noopener noreferrer" *ngIf="country.maps?.openStreetMaps">
                <button pButton type="button" label="View on OpenStreetMap" icon="pi pi-map" class="p-button-raised p-button-secondary"></button>
              </a>
            </div>
            <p-card>
              <ng-template pTemplate="header">
                <div class="card-header">
                  <i class="pi pi-map-marker"></i>
                  <span>Location Preview</span>
                </div>
              </ng-template>
              <div class="map-preview">
                <iframe 
                  *ngIf="country.latlng" 
                  width="100%" 
                  height="450" 
                  style="border:0" 
                  loading="lazy" 
                  allowfullscreen 
                  [src]="getGoogleMapsSrc()" 
                >
                </iframe>
                <p *ngIf="!country.latlng">Map data not available</p>
              </div>
            </p-card>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div> 